
<div class="text-center py-5">
    <h2 style="color: green;">Password Reset Successful!</h2>
    <p>Your password has been changed. You can now log in with your new password.</p>
    <a asp-action="Login" asp-controller="Account" class="btn btn-primary mt-3">
        Go to Login
    </a>
</div>